* {
    margin: 0;
    box-sizing: border-box;
}
.payment-container {
  width: 80%;
  margin: 40px auto;
  display: flex;
}
.payment-container .payment-container-left {
  width: 80%;
  border: 1px solid rgb(207, 207, 209);
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* gap: 15px; */
}
.payment-container-left .payment-head {
    width: 100%;
    height: 40px;
    background-color: #ff3f6c;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-weight: 500;
}
.payment-container-left .payment-method {
    border: 1px solid rgb(212, 212, 212);
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 6px;
    border-left: none;
    border-right: none;
}
.payment-container-left .payment-method .icon-head {
    display: flex;
    align-items: center;
    gap: 10px;
}
.payment-container-left .payment-method .icon-head p {
    font-size: 16px;
    font-weight: 500;
    padding: 3px 0px;
}
.payment-container-left .payment-method button {
    width: 160px;
    height: 36px;
    border: 1px solid #525252;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    margin: 3px 30px;
    transition: 0.2s ease-in;
    cursor: pointer;
}
.payment-container-left .payment-method button:hover {
    color: #fff;
    background-color: #ff3f6c;
    border: none;
    transform: scale(1.02);
}
.payment-container-left .fa-solid {
    font-size: 16px;
    color: #656565;
}
.payment-container-left .payment-method .pay-p {
    font-size: 13px;
    margin-left: 30px;
    color: #4c4c4c;
}
.payment-container-left .payment-method .discount {
    color: green;
}
.payment-container-left .payment-method .upi-mod {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.payment-container-left .payment-method .upi-mod input {
    width: 290px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid #656565;
    padding-left: 15px;
    outline: none;
}
.payment-container-left .payment-method .upi-mod .verify-btn {
    background-color: #0171d3;
    border: none;
    color: #fff;
    font-size: 14px;
}
.payment-container-left .card-mod {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 500px;
    margin-left: 30px;
}
.payment-container-left .card-mod .card1 {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.payment-container-left .card-mod .card1 label {
    font-size: 14px;
}
.payment-container-left .card-mod .card1 input, .card2 input {
    width: 100%;
    height: 36px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #4c4c4c;
    padding-left: 15px;
}
.payment-container-left .card2 {
    display: flex;
    gap: 20px;
}
.payment-container-left .card2 .card2-valid, .card2-cvv {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 14px;
    gap: 2px;
}
.payment-container-left .payment-method .card-btn {
    margin-top: 6px;
}
.payment-container-right {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
}
.payment-container-right .price1 {
  font-size: 18px;
  font-weight: 500;
  color: #808080;
}
.payment-container-right .price-list {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  border-bottom: 1px solid #cfcfcf;
}
.payment-container-right .price-details {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}
.payment-container-right .total-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
  font-weight: 500;
  padding: 15px 0px;
  border-bottom: 1px solid #cfcfcf;
}
.payment-container-right .pri {
  color: rgb(3, 138, 3);
  font-weight: 500;
}
.payment-container-right .price-tot {
  color: #ff3f6c;
  font-weight: 700;
}
.payment-container-right .payment-authenticity {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 14px;
  margin-top: 10px;
  color: #333;
}
.payment-container-right .payment-authenticity .fa-shield-dog {
  font-size: 17px;
  color: rgb(139, 138, 138);
}
.payment-container-right {
  position: sticky;
  top: 100px;
  align-self: flex-start;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 20px;
}
.order-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.order-modal {
  background: white;
  padding: 30px 50px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.payment-method.active-payment {
  background-color: #fff5f7;
  transition: 0.2s ease-in-out;
}
