* {
  margin: 0;
  box-sizing: border-box;
}
.filter {
  border: 1px solid rgb(219, 215, 215);
  width: 17rem;
  padding: 30px 25px;
}
.filter .filter-heads {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  cursor: pointer;
}
.filter-heads .clear-all {
  font-size: 15px;
}
.filter .filter-gender, .filter-brands, .price-filter, .filter-colors {
  margin-bottom: 15px;
}
.filter .filter-gender p, .filter-brands p, .price-filter p, .filter-colors p {
  font-weight: 600;
  color: #222;
  padding-bottom: 5px;
  font-size: 14px;
}
.price-filter .price-head {
    padding-bottom: 15px;
    color: #222;
    font-weight: 600;
}
.price-filter .price-value {
    padding-top: 10px;
}
.brands input {
  margin: 5px;
  cursor: pointer;
}
.filter .brands {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
}

.price-filter p {
  margin-top: 8px;
  font-weight: 500;
}
