* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.signup {
  width: 100%;
  background: linear-gradient(135deg, #d5d0f4, #e7c6d9, #ccd5f1);
  background-image: url('login-bg.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.signup .signup-container {
  width: 650px;
  height: 480px;
  border: 1px solid rgb(221, 216, 216);
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.11);
  margin: 70px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
  background-color: #fff;
}
.signup .signup-container h1 {
  color: #222;
  letter-spacing: 2px;
  padding: 8px 0px;
  margin-bottom: 15px;
  font-family: 'Lora', serif;
}
.signup-container .signup-name,
.signup-container .signup-password {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 33rem;
}
.signup-container .signup-name input,
.signup-container .signup-email,
.signup-container .signup-password input {
  width: 100%;
  height: 45px;
  border: 1px solid rgb(162, 156, 156);
  border-radius: 6px;
  padding-left: 15px;
  color: #333;
  outline: none;
  margin-bottom: 5px;
}
.signup-container .signup-email {
  width: 33rem;
}
.signup-container .signup-input2 {
  display: flex;
  width: 33rem;
  align-items: center;
  justify-content: start;
  font-size: 13px;
  padding: 0px 2px;
  gap: 10px;
}
.signup-input2 input {
  cursor: pointer;
}
.signup-container span {
  color: #ff3f6c;
  font-weight: 500;
  cursor: pointer;
}
.signup-container .signup-input2 span {
  color: #ff3f6c;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}
.signup-container .signup-btn {
  width: 33rem;
  height: 50px;
  background-color: #ff3f6c;
  color: #fff;
  border: none;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 3px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.signup-container .signup-btn:hover {
  transform: scale(1.011);
  box-shadow: 0 4px 8px 0 rgba(14, 106, 227, 0.2),
    0 6px 20px 0 rgba(14, 106, 227, 0.19);
}
.signup-container .signup-lower-signup {
  font-size: 14px;
}
.signup-container .signup-redirect a {
  color: #ff3f6c;
  text-decoration: none;
  font-weight: 600;
}
