* {
  margin: 0;
  box-sizing: border-box;
}
.footer {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid red; */
  background-color: rgb(214, 214, 214);
  margin: 4px auto;
  padding: 40px 20px;
}
.footer .footer-section1 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin-bottom: 20px;
}
.footer .footer-content-box2 {
  margin-bottom: 10px;
}
.footer .footer-content-box p {
  font-size: 14px;
  line-height: 22px;
  color: #222;
}
.footer .footer-content-box h5 {
  margin-bottom: 6px;
  color: #333;
}
.footer-content-box3 .social-icons {
  display: flex;
  gap: 10px;
  font-size: 1.2rem;
}
.mail-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-left: 1px solid rgb(161, 160, 160);
  padding-left: 30px;
}
.footer .footer-section2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid rgb(161, 160, 160);
  padding: 20px 0px;
  font-size: 13px;
}
.footer-section2 .low-icons {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer-section2 .low-icons p {
    color: #333;
}
.footer-section2 .cards {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-section2 .cards .payment-cards {
  width: 30px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 2px;
}
.footer-section2 .cards .payment-cards img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 2px;
}
