* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.add-product-page {
  width: 100%;
  min-height: 100vh;
  background-color: #ff3f6c;
  background-color: #e0e0e0;
  padding-top: 80px;
}
.add-product-page .add-product-container {
  width: 70%;
  background-color: white;
  border-radius: 30px;
  padding: 30px;
  margin: 0px auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  padding-bottom: 60px;
  margin-bottom: 70px;
  position: relative;
}
.add-product-page .add-product-container .to-products {
  position: absolute;
  right: 25px;
  top: 15px;
  color: #ff3f6c;
  font-weight: 600;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 6px;

}
.add-product-page .add-product-container h1 {
  text-align: center;
  font-size: 50px;
  color: #333;
  /* color: #ff3f6c; */
  /* padding: 10px; */
  padding-bottom: 10px;
}
.add-product-page .add-product-container .add-product-sub-container {
  width: 70%;
  margin: 0 auto;
}
.add-product-page .add-product-container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.add-product-sub-container .add-product-input-full,
.add-product-sub-container .add-product-input-half {
  width: 100%;
  height: 45px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #c9c9c9;
  outline: none;
  font-size: 15px;
}
.add-product-sub-container .brand-price,
.add-product-sub-container .cat-subcat-product {
  display: flex;
  width: 100%;
  gap: 20px;
}
.add-product-sub-container .add-product-input-half {
  flex: 1;
}
.add-product-container .attributes-section {
  width: 100%;
}
.add-product-container .attributes-section p {
  color: #333;
  padding: 5px;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 3px;
}
.add-product-container .attributes-section .attribute-row {
  width: 100%;
  display: flex;
  gap: 20px;
  margin-bottom: 12px;
}
.add-product-container .attributes-section .add-attr-btn {
  width: 130px;
  height: 30px;
  border: #ff3f6c;
  background-color: #ff3f6c;
  border-radius: 6px;
  color: #ffffff;
  margin-left: 1px;
  cursor: pointer;
}
.add-product-container .image-upload {
  width: 100%;
}
.add-product-container .image-upload input {
  margin: 10px 0px;
}
.add-product-container .image-upload label {
  margin-left: 5px;
}
.preview-gallery {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}
.preview-item {
  position: relative;
}

.preview-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.preview-item button {
  position: absolute;
  top: -5px;
  right: -5px;
  background: red;
  color: rgb(247, 247, 247);
  border: none;
  border-radius: 50%;
  font-size: 10px;  
  cursor: pointer;
  width: 22px;
  height: 22px;
}
.add-product-container .add-product-submit-btn {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  background-color: #ff3f6c;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.add-product-container .add-product-submit-btn:hover {
  transform: scale(1.011);
  box-shadow: 0 4px 8px 0 rgba(14, 106, 227, 0.2),
    0 6px 20px 0 rgba(14, 106, 227, 0.19);
}
