* {
  margin: 0;
  box-sizing: border-box;
}
.wishlist {
  width: 100%;
}
.wishlist .wishlist-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  padding: 50px 80px;
  flex-grow: 1;
}
.wishlist-container .wishlist-product-card {
  width: 16rem;
  height: 24rem;
  border: 1px solid #ccc;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: white;
}
.wishlist-product-card .wishlist-image {
  width: 100%;
  height: 16rem;
  border-radius: 6px;
  margin-bottom: 5px;
  position: relative;
}
.wishlist-product-card .wishlist-image .fa-xmark {
  position: absolute;
  right: 11px;
  top: 11px;
  background-color: #ffffff;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.wishlist-product-card .wishlist-image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: fill;
}
.wishlist-product-card .wishlist-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.wishlist-product-card .wishlist-content button {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #fff;
  font-size: 15px;
  font-weight: 500;
  margin-top: 3px;
  transition: 0.3s ease-in-out;
}
.wishlist-product-card .wishlist-content button:hover {
  background-color: #ff3f6c;
  color: white;
  border: none;
  transform: scale(1.02);
}
.wishlist-container .no-wishlist {
  font-size: 30px;
  margin: 100px auto;
  color: #333;
}