* {
  margin: 0;
  box-sizing: border-box;
}
.products .product-block {
  display: flex;
  margin-bottom: 60px;
}

.products .product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  padding: 20px;
  flex-grow: 1;
  margin-left: 10px;
}

.products .product-card {
  width: 16rem;
  height: 23rem;
  border: 1px solid #ccc;
  padding: 12px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: white;
  position: relative;
}
.product-card .prod-wishlist {
  position: absolute;
  right: 20px;
  top: 17px;
  background-color: #ffffff;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.product-card .prod-wishlist .fa-heart {
  margin-top: 3px;
  color: #969696;
  color: #ff3f6c;
}
.product-card .prod-wishlist .fa-heart:hover {
  color: #ff3f6c;
}
.product-card .prod-wishlist .fa-heart:active {
  color: #ff3f6c;
}
.products .product-card img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
  /* border: 1px solid red; */
  border-radius: 6px;
  margin-bottom: 5px;
}

.products .product-list .no-prod {
  font-size: 23px;
  color: #555;
  margin-top: 30px;
  text-align: center;
  width: 100%;
}
